{erl_opts, [
    debug_info,
    {parse_transform, lager_transform},
    {src_dirs, ["src", "test"]},
    {i, "deps/cecho/include"},
    {i, "include"}
]}.
{deps, [
    {cecho, "", {git, "https://github.com/odo/cecho.git", {branch, "master"}}},
    {lager, "", {git, "https://github.com/basho/lager.git", {branch, "master"}}}
]}.

